/*links for everything else*/
a{
  color: firebrick;
  text-decoration: none;
}
a:visited{
  color:grey;
}
a:hover{
  color:hotpink;
}
#main-nav-links{
  color: black;
  font-size: 15px;
  padding: .5rem;
  background-color: hotpink;
  text-decoration: none;
  display: inline-block;
}
#main-nav-links:hover{
  color:hotpink;
  background-color: black;
}
/*title/links for pages inside site*/
h5{
  color: orange;
  text-decoration: none;
  font-size: 25px;
}
h5:hover{
  color:black;
}
/*tiles of homepage*/
.tiles{
  width: 95%;
}
/*p description under links on index.html*/
.description{
  font-style:italic;
  color: grey;
  margin-top: -35px;
}
/*font for body*/
body{
  font-family: Arial;
  background-color: mistyrose;
}
/*code in semantics site*/
code{
  font-size:15px;
  color:white;
  background-color: black;
}
/*h1 - heading*/
h1{
  color: maroon;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
/*h2 in dummy1, 2, and puppy (as section header)*/
h2{
  color: white;
  background-color: firebrick;
  padding: 5px;
  display: inline-block;
}
/*h3 in dummy1, 2, and puppy (as article&aside headers)*/
h3{
  font-style: italic;
  text-indent: 23px;
}
/*h4 in about me, semantic elements, and sloths*/
h4{
  color:green;
  font-size: 20px;
  margin-bottom: -10px;
}
/*ul in sloths and puppies*/
ul{
  list-style-type: circle;
  line-height: 200%;
}
#readings{
  line-height: 15px;
}
/*images in sloths and semantic elements*/
img{
  width:100%;
  border-style:dashed;
  border-color: gold;
}
footer{
  color: grey;
  font-family: courier;
  line-height: 0px;
  margin-top: 80px;
}
details{
  font-size:15px;
  font-style: italic;
  color: green;
}
sup{
  font-size: 10px;
}
