/* RGB color palette
inchworm: rgba(171, 232, 92, 1);
mountain-meadow: rgba(55, 211, 141, 1);
cg-blue: rgba(16, 128, 165, 1);
pixie-powder: rgba(49, 8, 132, 1);
north-texas-green: rgba(0, 153, 61, 1);
*/
/*font for body*/
body{
  font-family: 'Noto Sans', Arial, sans-serif;
  /*background-image: linear-gradient(to bottom right, white, rgba(200, 210, 210, 1));*/
  padding: 1.5rem;
}
/*links for everything else*/
a{
  color: rgba(55, 211, 141, 1);
  text-decoration: none;
}
a:visited{
  color: rgba(55, 211, 141, 1);
}
a:hover{
  color: rgba(171, 232, 92, 1);
}
.main-nav-links{
  color: rgba(55, 211, 141, 1);
  font-size: 1rem;
  padding: .5rem;
  text-decoration: none;
  display: inline-block;
}
.main-nav-links:hover{
  color:rgba(171, 232, 92, 1);
}
/*title/links for pages inside site*/
h2{
  font-family: 'Concert One', 'Noto Sans', sans-serif;
  color: rgba(0, 153, 61, 1);
  text-decoration: none;
  font-size: 1.75rem;
}
h2:hover{
  color:rgba(55, 211, 141, 1);
}
/*tiles of homepage*/
.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.tiles{
  width: 45%;
}
/*p description under links on index.html*/
.description{
  font-style:italic;
  color: grey;
  margin-top: -1rem;
}
/*code in semantics site*/
code{
  font-size:15px;
  color:white;
  background-color: black;
}
/*h1 - heading*/
h1{
  color: rgba(49, 8, 132, 1);
  font-family: 'Concert One', cursive, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: -.25rem;
}
/*h3 in puppy (as article&aside headers)*/
h4{
  font-family: 'Concert One', 'Noto Sans', sans-serif;
  font-style: italic;
  font-size: 20px;
  text-indent: 23px;
}
/*h4 in about me, semantic elements, and sloths*/
h3{
  color: rgba(0, 128, 165, 1);
  font-family: 'Concert One', 'Noto Sans', sans-serif;
  font-size: 25px;
  margin-bottom: -10px;
}
/*ul in sloths and puppies*/
ul{
  list-style-type: circle;
  line-height: 200%;
}
#readings{
  line-height: 15px;
}
/*images in sloths and semantic elements*/
img{
  width:99%;
  border-style:solid;
  border-color: rgba(55, 211, 141, 1);
}
footer{
  color: grey;
  line-height: 0px;
  font-size: 13px;
  display: flex;
  align-items: baseline;
}
details{
  font-size:15px;
  font-style: italic;
  color: rgba(0, 153, 61, 1);
}
sup{
  font-size: 10px;
}
/*.contact-me-button to go to contact-me.html form*/
/*contact-me.html form*/
button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
  display: block;
  margin: 1rem;
}
input{
  border-radius: 0.5rem;
  width: 20rem;
  height: 1.5rem;
}
input[type=submit]{
  width: 100%;
  background-color: rgba(0, 128, 165, 1);
  height: 3rem;
  margin: 0rem;
}
fieldset{
  border: none;
}
fieldset input{
  display: inline;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/*customize labels*/
.checkbox label{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  user-select: none;
}
/*customize checkboxes*/
.checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lightGray;
}
.checkbox label:hover input ~ .checkmark{
  background-color: rgba(171, 232, 92, 1);
}
.checkbox input:checked ~ .checkmark{
  background-color: rgba(55, 211, 141, 1);
}
.checkmark:after{
  content: "";
  position: absolute;
  display: none;
}
.checkmark:after{
  display: block;
}
.checkbox .checkmark:after{
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.sr-only {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
