/*links for home or about*/
a[href="about-me.html"]{
  color: black;
  font-size: 15px;
  padding: .5rem;
  background-color: dodgerblue;
  text-decoration: none;
  display: inline-block;
}
a[href="about-me.html"]:hover{
  color:dodgerblue;
  background-color: black;
}
a[href="index.html"]{
  color: black;
  background-color: dodgerblue;
  font-size: 15px;
  padding: .5rem;
  text-decoration: none;
  display: inline-block;
}
a[href="index.html"]:hover{
  color:dodgerblue;
  background-color: black;
}
/*font for body*/
body{
  font-family: Arial;
}
/*title/links for pages inside site*/
#header{
  color: orange;
  text-decoration: none;
  font-size: 25px;
}
#header:hover{
  color:black;
}
/*tiles of homepage*/
#tiles{
  width: 90%;
}
#image-in-tiles{
  width: 100%;
}
/*h1*/
h1{
  color: rgb(230, 5, 0);
  font-size: 40px;
  text-transform: uppercase;
}
/*h2*/
/*h3*/
/*h4*/
/*p description under links on index.html*/
#description{
  margin-top: -20px;
  font-style:italic;
  color: grey;
}
/*ul*/
/*images*/
/*footer*/
